{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<h1>Calendrier des rendez-vous</h1>
<div id="calendar-container">
    <div id="calendar"></div>
</div>
{% endblock %}
