{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<section>
  <h2 class="text-center fw-bold my-4">Qui sommes-nous ?</h2>
  <div class="text-center">
    <p style="max-width: 700px; margin: 0 auto;">
      MaxPhone votre centre de réparation de smartphones, tablettes tels que iPhone, Samsung Galaxy, Huawei, Xiaomi, Pixel, LG, etc. ainsi que Smart TV et ordinateurs.
      Nous proposons une large gamme d’accessoires et de gadgets, ainsi que des appareils Multimédia tels que des téléphones et des tablettes.
    </p>
    <!-- Ajoute ici tes images ou layout selon ton design -->
  </div>
</section>
{% endblock %}
