{% extends 'base.html.twig' %}

{% block title %}Créer une Réparation{% endblock %}

{% block body %}
    <h1>Créer une Réparation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('reparation_index') }}">Retour à la liste</a>
{% endblock %}
